@import "tailwindcss";

body {
    background-color: #5f8cda;
    margin: 0;
    padding: 0;
    background-image: url(/background/37295503160115470.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

@theme {
  --font-delius: "Delius", cursive;
  --font-Acme: "Acme", sans-serif;
  --font-quantico: "Quantico", sans-serif;
}